/*  TUDO  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: goldenrod; 
}

/*  LAYOUT PRINCIPAL  */
.janela {
    display: flex;
    height: 100vh;
}

/* MENU LATERAL */
.header-left {
    width: 240px;
    background: #1d1d1d;
    color: #fff;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-left img {
    width: 110px;
    margin-bottom: 15px;
}

.hello {
    text-align: center;
    margin-bottom: 40px;
}

.nome_usuario {
    color: #ffaf00;
}

/* Botões do menu */
.btn-nav {
    width: 100%;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid #2d2d2d;
}

.btn-nav:hover {
    background: #ff8c00;
}

.btn-nav a {
    color: white;
    text-decoration: none;
}

/*  CONTEÚDO PRINCIPAL  */
.conteudo {
    display: flex;
    gap: 1%;
    padding: 20px;
}

/*  DASHBOARD  */
.dash {
    background:#fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.titulo-dash {
    text-align: center;
    color: #ff8c00;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
}

/*  KPIS  */
.kpis {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.kpis div {
    background: gray;
    border-left: 6px solid #ffaf00;
    width: 32%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

.kpis h2 {
    font-size: 17px;
    margin-bottom: 10px;
    color: #212121;
}

.kpis h3 {
    font-size: 26px;
    color: #fff;
}

/*  GRÁFICOS  */
.graficos-pizza {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.grafico1, .grafico2 {
    background: gray;
    width: 48%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}

.grafico1 .titulo-grafico1,
.grafico2 .titulo-grafico2 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #212121;
}

      /*  RANKING  */

.leaderboard {
    width: 30%;
    height: 100%;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.leaderboard .titulo-h1 {
    text-align: center;
    color: #ff8c00;
    margin-bottom: 20px;
}

.leaderboard h1 {
    font-size: 25px;
    padding-left: 10px;

}

.pontuacao_leaderboard {
    background: #f7f7fb;
    padding: 15px 0 15px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.pontuacao_leaderboard img {
    width: 35px;
}

.pontuacao_leaderboard h2 {
    color: #333;  
    font-size: 20px;
   
}

.titulo-h3{
  text-align: center;
  font-size: medium;
  font-size: 20px;
  padding-bottom: 30px;
}

/*  RESPONSIVIDADE  */
@media(max-width: 1000px) {
    .kpis {
        flex-direction: column;
        gap: 15px;
    }

    .kpis div {
        width: 100%;
    }

    .graficos-pizza {
        flex-direction: column;
        gap: 20px;
    }

    .grafico1, .grafico2 {
        width: 100%;
    }
}

