@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  height: 100%;
  margin: 0;
}
.principal{
  display: flex;
}

.login-banner{
 margin: 10px;
 padding-bottom: 40px;
 background-color: black;
 background-image: url(./Assets/image\ 21.png);
 background-size: cover;
 width: 900PX;
 height: 880PX;
 border-radius: 20px;


}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  font-family: 'Poppins';
  font-size: 18px;


}

.login-container h3{
  color: white;
  margin: 0;
  font-family: 'Poppins';
  font-size: 25px;

}
.login-container .p{
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
 font-family: 'Poppins';
  font-size: 20px;

}

.cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Poppins';
}
.box1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.box2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #2A9A90;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  color: white;
}
.bola{
  background-color: black;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 10px;
}
.conteudo-container img{
  width: 100px;
}

.conteudo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  width: 900px;
  height: 100vh;
  font-family: 'Poppins';
  font-size: 18px;

}
.h1-conteudo{
  text-align:center;
  font-family: 'Poppins';
  font-size: 18px;


}
.login-campos{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.login-campos input {
  width: 480px;
  height: 50px;
  background-color: #fafafa;
  border: none;
  border-radius: 15px;
 font-family: 'Poppins';
  font-size: 15px;
}
.login-campos p{
  margin: 0;
  font-size: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
 font-family: 'Poppins';
  font-size: 18px;
}
.login-campos span{
  color: #949494;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
 font-family: 'Poppins';
  font-size: 15px;

}
.botaoContato{
  margin: 10px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px  #D9D9D9;
 font-family: 'Poppins';
  font-size: 15px;
}

.botaoContato img{
    height: 30%;
    width: 30%;
    align-items: start;
    flex-direction: column;

}

input:focus{
  outline-color: #2A9A90  ;
}
input::placeholder{
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #aaa;

}
input{
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #0e0e0e;
   padding: 10px 5px 10px 20px;
}

.botao button{
  width: 480px;
  height: 45px;
  background-color: #2A9A90;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
 font-family: 'Poppins';
 font-size: 18px;
  cursor: pointer;

}
.botao button:hover{
  background-color: #248b82;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.botao p{
  text-align: center;
  color: #949494;
  font-size: 15px;
 font-family: 'Poppins';
  font-size: 15px;

}
.botao span{
  color: black;
  font-weight: bold;
  font-size: 15px;
 font-family: 'Poppins';
  font-size: 15px;

}
 a{
  text-decoration: none;
  color: inherit;
}

