*{
margin: 0;
padding: 0;
font-family: 'Poppins';
box-sizing: border-box;
}

body{
  background-color: rgb(0, 183, 255);
}

.app{
  background-color: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
}

.app h1{
  font-weight: 25px;
  font-weight: 600;
  padding-bottom: 30px;
  color: orangered;
  border-bottom: 1px solid maroon;
}

.quiz{
  padding: 20px 0;
}

.quiz h2{
  font-size: 18px;
  font-weight: 600;
}

.btn{
  background: white;
  color: orangered;
  font-weight: 500;
  border: 1px solid maroon;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]){
  background: orangered;
  color: white;
}

.btn:disabled{
  cursor: no-drop;
}

#next-btn{
  background-color: orangered;
  color: white;
  font-weight: 500;
  width: 150px;
  border:0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;

}

.correto{
  background-color: green;
}

.incorreto{
  background-color: red;
}
